
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* Fix for white space caused by bootstrap row class */

.row {
    padding-right: 0px;
    margin-right: 0px;
    overflow: hidden;
} 

/* Navbar */

.bg-body-tertiary {
    background-color: #000324 !important;
}

.navbar-toggler {
    color: white;
}

.navbar a {
    font-family: Dosis;
    color: white;
    margin: 0;
    padding-bottom: 0;
}

.navbar li {
    font-size: small;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar img {
    width: 65%;
}

ul.nav a::hover {
    color: gray !important;
}

/* Header */

.header-image {
    width: 100%;
    height: 450px;

    object-fit: cover;
    object-position: top 100px;
}

.header-text {
    font-family: Dosis;
    width: 50%;
    color: white;
    background-color: rgb(0, 3, 36, 75%);

    position: relative;
    bottom: 325px;
}

.container-height {
    height: 550px;
}

/* Introduction Section */

.intro-text h3 {
    font-family: Dosis;
    font-weight: 300;
    font-size: xx-large;
}

.intro-text p {
    font-family: sans-serif;
    font-size: 0.85rem;
}

.intro-text {
    padding-left: 1px;
}

.image-finest {
    height: 115px;
}

.image-satisfaction {
    height: 115px;
}

.image-genuine {
    height: 115px;
}

.hamster-image {
    width: 275px;
    height: 315px;

    object-fit: cover;
    position: relative;
    left: 65px;
}

.intro-container {
    display: flex;
    justify-content: center;
    width: 1180px;
    padding-bottom: 100px;
}

/* Hotel Rooms Section */

.roomcard-background {
    width: 100%;
    height: 675px;

    object-fit: cover;
    object-position: top 100px;
}

.room-titletext {
    font-family: Dosis;
    font-size: 35px;
    text-align: center;
    color: white;
}

.card-container {
    position: relative;
    bottom: 650px;
}

.card-title {
    font-family: Dosis;
}

.card-secondtitle {
    font-family: sans-serif;
    font-weight: 600;
}

.card-text {
    font-family: sans-serif;
    font-size: 12px;
}

.room-container {
    height: 775px;
}

.btn {
    font-family: sans-serif;
    font-weight: 600;
}

.btn-margin {
    margin-top: 90px;
}

/* Packages Section */

.packages-container {
    width: 1000px;
}

.packages-titletext {
    font-family: Dosis;
    font-size: 35px;
    text-align: center;
    color: black;
}

.packages-images {
    width: 475px;
    height: 265px;

    object-fit: cover;
}

.packages-text-wedding {
    padding-left: 300px;
} 

.packages-title {
    font-family: Dosis;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 25px;
}

.packages-subtitle {
    font-family: sans-serif;
    font-weight: 300;
    color: #1F51A8;
    padding-top: 15px;
}

.packages-description {
    font-family: sans-serif;
    padding-top: 15px;
}

/* Amenities Section */

.amenities-container {
    margin-top: 100px;
    height: 700px;
}

.amenities-subcontainer {
    display: block;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 535px;
}

.amenities-background {
    width: 1550px;
    height: 600px;

    object-fit: cover;
}

.amenities-title {
    font-family: Dosis;
    text-align: center;
    font-size: 35px;
    color: white;
}

.amenities-description {
    padding-top: 15px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-weight: 300;
}

.amenities-images {
    width: 150px;
}

.valet-image {
    width: 95px;
}

.pool-image {
    width: 145px;
}

.amenities-text {
    padding-top: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
}

.amenities-images-placement {
    margin-top: 75px;
}

.amenities-width {
    width: 1000px;
    padding-top: 25px;
}

/* Reservation Section */

.reserve-container {
    width: 1000px;
    margin-bottom: 90px;
}

.reserverow-bg {
    background-color: #000324;
}

.reserve-title {
    font-family: Dosis;
    text-align: center;
    font-size: 35px;
    color: white;
}

.reserve-image {
    width: 100%;
    height: 414px;
    object-fit: cover;
}

.reserve-text {
    font-family: sans-serif;
    color: white;
    font-weight: 200;
    font-size: .85rem;
}

.reserve-input {
    width: 110%;
    height: 31%;
    border-radius: 0%;
    border: 0;
}

.reserve-button {
    width: 154.08px;
    height: 30px;

    position: relative;
    top: 23px;
}

.input-container {
    width: 90%;
}

/* Footer Section */

.footer-bg {
    background-color: #000324;
}

.footer-logo {
    width: 8%;
}

.footer-text {
    font-family: sans-serif;
    color: white;
    font-size: .75rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {

    /* Introduction */

    .intro-container .hamster-image {
        width: 95%;
        height: 350px;

        object-fit: cover;
    }

    .intro-container .intro-text {
        padding-left: 75px;
        padding-right: 0px;
    }

    .image-finest {
        width: 100%;
        height: auto;
    }

    .image-satisfaction {
        width: 83%;
        height: auto;
    }

    .image-genuine {
        width: 95%;
        height: auto;
    }

    /* Packages */

    .packages-container {
        padding-right: 0px;
        margin-right: 5px;
    }
    
    .packages-images {
        width: 450px;
        height: 280px;
        
        object-fit: cover;
    }
    
    .packages-title {
        padding-top: 15px;
    }
    
    .packages-images {
        padding-top: 15px;
    }

    /* Amenities */

    .amenities-width {
        width: 750px;
    }

    .amenities-description {
        padding-top: 15px;
        font-family: sans-serif;
        font-size: 13px;
        text-align: center;
        color: white;
        font-weight: 300;
    }

    .amenities-images {
        width: 75%;
    }

    .valet-image {
        width: 46%;
    }

    .pool-image {
        width: 75%;
    }
    




}

@media screen and (max-width: 768px) {

    /* Navbar */

    .nav-item {
        padding-top: 3px;
        padding-bottom: 5px;
    }

    .navbar a {
        font-size: 17px;
        font-weight: 500;
    }

    .navbar .border {
        border: none !important;
        padding-bottom: 10px;
    }

    .navbar img {
        display: none;
    }

    /* Header */

    .header-image {
        width: 100%;
        height: 350px;
    
        object-fit: cover;
    }

    .header-text {
        position: relative;
        bottom: 275px;
    }


    .header-text h2 {
        font-size: 25px;
        padding-bottom: 3px;
    }

    .container-height {
        height: 425px;
    }

    /* Introduction */

    .intro-container h3 {
        font-size: 27px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    .intro-container .intro-text {
        padding-left: 75px;
        padding-right: 0px;
    }

    .intro-container .hamster-image {
        width: 100%;
        height: 375px;

        object-fit: cover;
    }

    .image-finest {
        width: 100%;
        height: auto;
    }

    .image-satisfaction {
        width: 83%;
        height: auto;
    }

    .image-genuine {
        width: 95%;
        height: auto;
    }

    .intro-container {
        padding-left: 1px !important;
        padding-right: 1px !important;
        margin-left: 1px !important;
        margin-right: 1px !important;
    }

    /*  Our Rooms */

    .card-container .row {
        display: flex;
        justify-content: space-evenly !important;

    }

    .card {
        width: 225px !important;
        height: auto !important;
    }

    .card-body .btn-margin {
        margin-top: 36px !important;
    }

    /* Packages */

    .packages-container {
        padding-right: 0px;
        margin-right: 0px;
    }

    .packages-images {
        width: 325px;
        height: 280px;
    
        object-fit: cover;
    }

    .packages-title {
        padding-top: 15px;
    }

    .packages-images {
        padding-top: 15px;
    }

    /* Amenities */

    .amenities-width {
        width: 600px;
    }

    .amenities-images {
        width: 75%;
    }

    .valet-image {
        width: 46%;
    }

    .pool-image {
        width: 75%;
    }

    /* Reserve a Room */

    .reserve-button {
        width: 120px;
        padding-top: 3px !important;
        padding-bottom: 3px !important;

        font-size: 12px;
    }

    .button-position {
        position: relative;
        bottom: 4px;
    }

    .reserve-text {
        font-size: 11px;
        font-weight: 400;
    }


    
}
