
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


.bg-body-tertiary {
    background-color: #000324 !important;
}

.navbar a {
    font-family: Dosis;
    color: white;
    margin: 0;
    padding-bottom: 0;
}

.navbar li {
    font-size: small;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar img {
    width: 65%;
}

ul.nav a::hover {
    color: gray !important;
}

.header-image {
    width: 1550px;
    height: 450px;

    object-fit: cover;
    object-position: top 100px;
}

.header-text {
    font-family: Dosis;
    width: 50%;
    color: white;
    background-color: rgb(0, 3, 36, 75%);

    position: relative;
    bottom: 325px;
}

.container-height {
    height: 550px;
}


.intro-text h3 {
    font-family: Dosis;
    font-weight: 300;
    font-size: xx-large;
}

.intro-text p {
    font-family: sans-serif;
    font-size: 0.85rem;
}

.intro-text {
    padding-left: 1px;
}

.image-finest {
    height: 115px;
}

.image-satisfaction {
    height: 115px;
}

.image-genuine {
    height: 115px;
}

.hamster-image {
    width: 275px;
    height: 315px;

    object-fit: cover;
    position: relative;
    left: 65px;
}

.intro-container {
    display: flex;
    justify-content: center;
    width: 1180px;
    padding-bottom: 100px;
}

.roomcard-background {
    width: 1550px;
    height: 675px;

    object-fit: cover;
    object-position: top 100px;
}

.room-titletext {
    font-family: Dosis;
    font-size: 35px;
    text-align: center;
    color: white;
}

.card-container {
    position: relative;
    bottom: 650px;
}

.card-title {
    font-family: Dosis;
}

.card-secondtitle {
    font-family: sans-serif;
    font-weight: 600;
}

.card-text {
    font-family: sans-serif;
    font-size: 12px;
}

.btn {
    font-family: sans-serif;
    font-weight: 600;
}

.btn-margin {
    margin-top: 90px;
}

.packages-titletext {
    font-family: Dosis;
    font-size: 35px;
    text-align: center;
    color: black;
}
